.stairway1{
border: 7px solid rgb(234, 38, 168);
width: 600px;
height: 600px;
box-sizing:border-box;
}
.stair{
    height: 25%;
    width: 25%;
    background-color: rgb(17, 163, 17);
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.stairway1 :nth-last-child(2n+1){
    border: solid 7px rgb(70, 69, 69);
}

.stairway1 :nth-child(1){
    margin-left: 75%;
}
.stairway1 :nth-child(2){
    margin-left:50%;
    }
    .stairway1 :nth-child(3)
{
    margin-left: 25%;
}





.treppen{
    width: 150px;
    height: 150px;
background-color: yellow;
border: 7px solid tomato;
box-sizing: border-box;



}
.stairway2_1{
 
   width: 600px;
 box-sizing: border-box;


}

.stairway2_2{
    width:150px;
  background-color: red;
    padding-left:150px;
}
.stairway2_3{
    width: 150px;
    padding-left: 300px;
    background-color: red;
}
.stairway2_4{
    width: 150px;padding-left: 450px;
    background-color: red;
}

.treppenhaus{
box-sizing: border-box;
    margin-left: 600px;
    width: 600px;
    border: 1px solid black;
}